.slide {
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalContainer {
    position: absolute;
    overflow: hidden;
    width: 350px;
    height: 350px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.sliderComponent {
    width: 100%;
    position: absolute;
    top: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
}
