.project {
    width: 70%;
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #dadada;
    transition: all cubic-bezier(0.23, 1, 0.32, 1) 0.4s;
}
.project h1 {
    font-weight: 400;
    font-size: 50px;
}
.project:last-of-type {
    border-bottom: 2px solid #dadada;
}

.project:hover {
    opacity: 0.3;
    padding: 0 5px;
}
